.workbuddy/_ref/extract.py
.workbuddy/_ref/tmp.doc
.workbuddy/_ref/txt/00_考纲_珠海市小学信息学十佳之星.txt
.workbuddy/_ref/txt/10_信息学2024十佳之星（小学组）答案.txt
.workbuddy/_ref/txt/10_信息学2024十佳之星（小学组）试卷.txt
.workbuddy/_ref/txt/10_信息学思维训练题.txt
.workbuddy/_ref/txt/10_信息学思维训练题（答案）.txt
.workbuddy/_ref/txt/10_六年级数学思考模拟题.txt
.workbuddy/_ref/txt/20_NOIP2014普级组复赛试题（机试参考）.txt
.workbuddy/_ref/txt/20_noi竞赛大纲.txt
.workbuddy/_ref/txt/30_C++训练题.txt
.workbuddy/_ref/unzipped/信息学十佳之星赛前练习资料/C++训练题.doc
.workbuddy/_ref/unzipped/信息学十佳之星赛前练习资料/NOIP2014普级组复赛试题（机试参考）.pdf
.workbuddy/_ref/unzipped/信息学十佳之星赛前练习资料/noi竞赛大纲.pdf
.workbuddy/_ref/unzipped/信息学十佳之星赛前练习资料/信息学2024十佳之星（小学组）答案.docx
.workbuddy/_ref/unzipped/信息学十佳之星赛前练习资料/信息学2024十佳之星（小学组）试卷.docx
.workbuddy/_ref/unzipped/信息学十佳之星赛前练习资料/信息学思维训练题.docx
.workbuddy/_ref/unzipped/信息学十佳之星赛前练习资料/信息学思维训练题（答案）.docx
.workbuddy/_ref/unzipped/信息学十佳之星赛前练习资料/六年级数学思考模拟题.docx
.workbuddy/memory/2026-09-16.md
.workbuddy/memory/MEMORY.md
